.text {
  font-family: "Tomorrow", sans-serif;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #0A0B0D;
}

.grey {
  color: #8A919E;
}

.blue {
  color: #3D7CE8;
}

.purple {
  color: #7E3DE8
}

.green {
  color: #00FF0A
}

.red {
  color: #FF0000;
}

.warning {
  color: #F5BD02;
}

