.buttonBase {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Tomorrow", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color:#0043B5;
  }
}

.fullWidth {
  width: 100%;
}

.large {
  padding: 12px 40px;
  font-size: 20px;
}

.medium {
  padding: 12px 20px;
  font-size: 20px;
}

.modal {
  padding: 10px 18px;
  font-size: 14px;
}

.mid-medium {
  padding: 4px 10px;
  font-size: 16px;
  height: fit-content;
}

.small {
  font-size: 13px;
  padding: 5px 15px;
}

.black {
  background-color: #0A0B0D;
}

.grey {
  background-color: #8A919E;
}

.dark {
  background-color: #32353D;
  &:hover {
    background-color: #27292F;
  }
}

.blue {
  color: #0A0B0D;
  background-color: #3D7CE8;
}

.green {
  background-color: #00FF0A
}

.red {
  background-color: #FF0000;
  &:hover {
    background-color: #CC0000;
  }
}

.icon {
  background: transparent !important;
  padding: 0px;
}

.disabled {
  background: #32353d;
  color: #8A919E !important;
  cursor: not-allowed;
  & svg {
    color: #8A919E !important;
  }

  &:hover {
    background-color: #32353d;
  }
}