.pageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 !important; 
  background: linear-gradient(to bottom right, #0f1419, #202a34);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  box-sizing: border-box;
  position: relative;
}