.icon {
  font-size: 24px;
}

.black {
  color: #0A0B0D;
}

.white {
  color: #ffffff;
}

.blue {
  color: #3D7CE8;
}

.grey {
  color: #8A919E;
}

.red {
  color: #F00;
}

.green {
  color: #00FF0A;
}

.purple {
  color: #7E3DE8;
}

.inherit {
  color: inherit;
}