.homePageContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 35px;
  margin-left: 150px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
}

.searchInput {
  width: 350px;
  height: 65px;
}

.additionButton {
  width: 65px !important;
  height: 65px !important;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}